<div class="card shadow-lg my-5">
  <div class="card-header text-center">
    <h1 class="display-6 fw-bold">To Do List</h1>
    <div class="card-body p-4">
      <div class="input-group">
        <input
          type="text"
          placeholder="title goes here"
          class="form-control"
          #titleInput
        />
        <button class="btn" (click)="onAddTodo(titleInput)">
          <i class="fa-solid fa-circle-plus"></i>
        </button>
      </div>
    </div>
  </div>
</div>
<ng-container *ngFor="let item of listOfTodos">
  <div class="card shadow-lg mb-2">
    <div class="card-header d-flex align-items-center justify-content-between">
      <h2 class="display-6 fs-5">{{ item.Title }}</h2>
      <button class="btn bg-dark" (click)="onRemoveTodo(item.id)">
        <i class="fa-solid fa-check text-light"></i>
      </button>
    </div>
  </div>
</ng-container>
